html {
    background-image: linear-gradient(#444,#111);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 0.4em;
    zoom: 95%;
}

canvas {
    border-radius: 0.4em;
    border:1px solid lightgrey;
    image-rendering: pixelated;
}

#loginBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 0.4em;
    zoom: 95%;
    height: 50%;
}

#loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2em;
    gap: 0.8em;
    font-size: 0.4em;
    color: #222;
    background-color: #fff;
    border-radius: 0.8em;
}

#loginForm {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 0.4em;
    color: #222;
}

.loginInputs {
    background-color: rgba(50%, 50%, 50%, 0.5);
    border-radius: 0.8em;
    border: none;
    padding: 0.6em;
    font-size: 0.2em;
    font-family: 'Times New Roman', Times, serif;
    color: #222;
}

#loginButtons {
    display: flex;
    flex-direction: row;
    gap: 0.4em;
}

#loginButton, #createAccButton {
    background-color: rgba(50%, 50%, 50%, 0.5);
    border-radius: 0.8em;
    border: none;
    width: 100%;
    color: #222;
    font-size: 0.2em;
    font-family: 'Times New Roman', Times, serif;
}

#gameWindow {
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(#111, #444);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.4em;
    border-radius: 0.4em;
}

#chat {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.4em;
    width: 228px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 0.4em;
}

#messages {
    overflow-y: auto;
}

#chatMessage {
    list-style-type: none;
    color: #fff;
    font-size: 0.6em;
    word-break: break-all;
}

#chatForm {
    display: flex;
    gap: 0.4em;
    width: 100%;
    justify-content: space-between;
}

#chatInput {
    width: 90%;
    opacity: 1;
    height: 100%;
    background-color: rgba(50%, 50%, 50%, 0.1);
    border-radius: 0.4em;
    border: none;
    padding: 0.6em;
    font-size: 0.2em;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

#chatButtonSend {
    width: 10%;
    height: 100%;
}


.textContainer {
    background-color: rgba(50%, 50%, 50%, 0.1);
    padding: 0.4em;
    height: 3em;
    border-radius: 0.2em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    font-size: 0.4em;
    font-family: 'Times New Roman', Times, serif;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

button {
    background-color: rgba(50%, 50%, 50%, 0.1);
    border-radius: 0.4em;
    border: none;
    color: #fff;
    font-size: 0.2em;
    font-family: 'Times New Roman', Times, serif;
}