html {
    background-image: linear-gradient(#444,#111);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 0.8em;
    zoom: 95%;
}

canvas {
    background-color: rgba(50%, 50%, 50%, 0.5);
    padding: 0.8em;
    border-radius: 0.4em;
    border:1px solid lightgrey;
}

#gameWindow {
    background-image: linear-gradient(#111, #444);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.8em;
    border-radius: 0.4em;
}

#chat {
    background-image: linear-gradient(#111, #444);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.8em;
    width: 280px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 0.8em;
}

#messages {
    overflow-y: auto;
}

#chatMessage {
    list-style-type: none;
    color: #fff;
    font-size: 1.1em;
    word-break: break-all;
}

#chatForm {
    display: flex;
    gap: 0.4em;
    width: 100%;
    justify-content: space-between;
}

#chatInput {
    width: 95%;
}

#chatButtonSend {
    width: 5%;
}


.textContainer {
    background-color: rgba(50%, 50%, 50%, 0.5);
    padding: 0.8em;
    height: 5em;
    border-radius: 0.4em;
}

input {
    background-color: rgba(50%, 50%, 50%, 0.5);
    border-radius: 0.4em;
    border: none;
    padding: 0.4em;
    font-size: 1.1em;
    color: #fff;
}

button {
    background-color: rgba(50%, 50%, 50%, 0.5);
    border-radius: 0.4em;
    border: none;
    padding: 0.4em;
    font-size: 1.1em;
    color: #fff;
}